a-1 {
  width: 4.16%;
}

a-2 {
  width: 8.33%;
}

a-3 {
  width: 12.49%;
}

a-4 {
  width: 16.65%;
}

a-5 {
  width: 20.8%;
}
a-6 {
  width: 24.96%;
}
a-7 {
  width: 29.12%;
}
a-8 {
  width: 33.28%;
}
a-9 {
  width: 37.44%;
}
a-10 {
  width: 41.6%;
}
a-11 {
  width: 45.76%;
}
a-12 {
  width: 50%;
}
a-13 {
  width: 54.16%;
}
a-14 {
  width: 58.32%;
}
a-15 {
  width: 62.4%;
}
a-16 {
  width: 66.56%;
}
a-17 {
  width: 70.72%;
}
a-18 {
  width: 74.18%;
}
a-19 {
  width: 79.04%;
}
a-20 {
  width: 83.2%;
}
a-21 {
  width: 87.21%;
}
a-22 {
  width: 91.52%;
}
a-23 {
  width: 95.7%;
}
a-24 {
  width: 100%;
}
